
/* Your CSS Code here. */
nav{
	background-color:#75a3a3;
}
div{
	width: 50%;
	
}
.navbar{
	display: flex;
	justify-content: space-evenly;
}

.navbar .list, a{
	text-decoration: none;
	list-style: none;
	color:#ffff00

}